@using System.Text.Json;

@model List<AppCuidandoPatitas.Models.ModelAnimales>


@{
    ViewData["Title"] = "Lista de Animales";
}

<h2>Lista de Animales</h2>
<div class="table-responsive">
    <table class="table table-bordered table-striped table-hover">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Raza</th>            
            <th>ACCIONES</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var animal in Model){

            @if (animal.Adoptado != 1)
            {
                <tr>
                    <td>@animal.AnimalId</td>
                    <td>@animal.AnimalNombre</td>
                    <td>@animal.RazaId</td>
                    <td>@animal.Adoptado</td>
                    <td>
                        <form asp-action="adoptarMascota" asp-controller="Animales" method="post">
                            <input type="hidden" name="AnimalId" value="@animal.AnimalId" />
                            <button type="submit" class="material-symbols-outlined" style="background: none; border: none; padding: 0;">
                                <span class="material-symbols-outlined">pets</span>
                            </button>
                        </form>
                    </td>
                </tr>
            }
        }       
    </tbody>
</table>
</div>



